<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

<h1>Добро пожаловать на форум программистов</h1>
<hr>
<h2>Добавить вопрос: </h2>
<form action="" method="post">
    <p>
        <label>Заголовок: </label>
        <input required type="text" name="title">
    </p>
    <p>
        <label>Вопрос: </label>
        <input required type="text" name="message">
    </p>
    <p>
        <button>Опубликовать</button>
    </p>
</form>
<hr>
<ul>
    {% for problem in context['problems'] %}
        Заголовок: {{ problem[1] }}<br>
        Вопрос: {{ problem[2] }}<br><br>
    {% endfor %}
</ul>

</body>
</html>