<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница форума</title>
</head>
<body>

<h1>Добро пожаловать на форум программистов</h1>
<hr>
<h2>Добавить вопрос: </h2>
<form action="/add_problem" method="post">
    {{ form.hidden_tag() }}
    {{ form.title }}<br><br>
    {{ form.message }}<br>
    {{ form.button }}<br>
</form>
<hr>
<audio controls>
    <source src="https://terabox.com/s/1_ceDk0ds3WAZk2yYfFFoyg" type="audio/mpeg">
</audio>
<video src="https://terabox.com/s/1k5yBepoUMbLpZqso3J6oxw" controls></video>
<ul>
    {% for problem in problems %}
        Заголовок: {{ problem[1] }}<br>
        Вопрос: {{ problem[2] }}<br><br>
    {% endfor %}
</ul>

</body>
</html>